@font-face {
   font-family: "NotoSens";
   src: url("../05.04.25/fonts/NotoSans_ExtraCondensed-SemiBold.ttf") format("truetype");
   font-weight: normal;
}

* {
   margin: 0;
   padding: 0;
}

.box {
   display: flex;
   flex-direction: column;
   background-color: #9fcdcd;
   height: 500px;
   width: 40%;
   margin: auto;
   border-radius: 15px;
}

.title {
   display: flex;
   align-items: center;
   width: 70%;
   height: 40px;
   background-color: #db6423;
   color: white;
   font-size: 20px;
   letter-spacing: 1px;
}

span {
   margin-left: 50px;
}